<div>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
    crossorigin="anonymous"
  />
  <div class="container ui fixed inverted menu segment">
    <div class="ui container inverted secondary pointing menu">
      <a
        class="item {{ dashboardActive }}"
        routerLink="/dashboard"
        *ngIf="menuAnon || menuAdmin"
      >
        Dashboard
      </a>
      <a
        class="item {{ checkoutActive }}"
        routerLink="/checkout"
        *ngIf="menuAnon || menuAdmin"
      >
        Checkout
      </a>
      <a
        class="item {{ aboutusActive }}"
        routerLink="/about-us"
        *ngIf="menuAnon || menuAdmin"
      >
        About Us
      </a>
      <a
        class="item {{ produkActive }}"
        routerLink="/admin-produk"
        *ngIf="menuAdmin"
      >
        Produk
      </a>
      <a
        class="item {{ promosiActive }}"
        routerLink="/admin-promosi"
        *ngIf="menuAdmin"
      >
        Promosi
      </a>
      <a
        class="item {{ pembayaranActive }}"
        routerLink="/admin-pembayaran"
        *ngIf="menuAdmin"
      >
        Pembayaran
      </a>
      <div class="right menu" *ngIf="menuAdmin">
        <div class="item">
          <p>You logged in as <span style="color: green;">{{ email }}</span></p>
        </div>
        <div class="item">
          <a (click)="signout()" class="ui negative button">Logout</a>
        </div>
      </div>
      <div class="right menu" *ngIf="menuAnon">
        <div class="item">
          <a class="ui primary button" routerLink="/login">Login/Signup</a>
        </div>
      </div>
    </div>
  </div>
</div>
