<app-navbar></app-navbar>

<div class="ui container">
  <h1 style="padding-top: 2rem; padding-bottom: 3rem;text-align: center">Manajemen Promosi</h1>
  <div class="ui form">
    <div class="field">
      <label>Nama Barang</label>
      <input type="text" [(ngModel)]="nama" name="nama" autocomplete="off" />
    </div>
    <div class="field">
      <label>Stok</label>
      <input type="number" [(ngModel)]="stok" name="stok" autocomplete="off" />
    </div>
    <div class="field">
      <label>Harga Asal</label>
      <input
        type="number"
        [(ngModel)]="hargaAsal"
        name="harga"
        autocomplete="off"
      />
    </div>
    <div class="field">
      <label>Harga Promo</label>
      <input
        type="number"
        [(ngModel)]="hargaPromo"
        name="harga"
        autocomplete="off"
      />
    <div class="field" style="margin-top: 15px">
      <button
        style="margin: 0px 5px"
        class="ui primary button"
        [disabled]="!isEdit"
        (click)="edit()"
      >
      Publish Promo
      </button>
      <button
        style="margin: 0px 5px"
        class="ui button"
        [disabled]="!isEdit"
        (click)="reset()"
      >
      Reset
      </button>
    </div>
  </div>
  <table class="ui celled table">
    <thead>
      <tr class="ui center aligned">
        <th>Nama Barang</th>
        <th>Stok</th>
        <th>Harga Asal</th>
        <th>Harga Promo</th>
        <th>Foto</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody class="ui center aligned">
      <tr *ngFor="let item of myData">
        <td data-label="Nama Barang">{{ item.namaBarang }}</td>
        <td data-label="Stok">{{ item.stokBarang.toLocaleString(["id"]) }}</td>
        <td data-label="Harga">
          Rp. {{ item.hargaBarang.toLocaleString(["id"]) }}
        </td>
        <td data-label="Harga" *ngIf="item.hargaBarangPromo !== undefined">
          Rp. {{ item.hargaBarangPromo.toLocaleString(["id"]) }}
        </td>
        <td data-label="" *ngIf="item.hargaBarangPromo === undefined"></td>
        <td data-label="Foto">
          <img style="height: 100px" [src]="item.fotoUrl" alt="" />
        </td>
        <td data-label="Aksi">
          <div class="ui buttons">
            <button class="ui positive button" (click)="getEdit(item)">
              Edit Promosi
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
